.landing {
  .title {
    padding-bottom: 40px;

    .title-info {
      padding-top: 32px;
    }
  }

  .video-section {
    padding-top: 80px;
  }
}

.info-blocks-wrapper {
  padding: 0 0 80px 0;
}

.hero {
  .banner-grid {
    .container {
      padding: 40px 20px;
      .video-text-content {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        .content-wrapper {
          width: 50%;
          padding-right: 48px;
          .h1,
          p {
            color: $color-white;
          }
          .btn-group {
            padding-top: 24px;
            .btn {
              margin-right: 12px;
            }
          }
        }

        .video-container {
          position: relative;
          max-width: 50%;
          width: 100%;
          padding-bottom: 28.2%;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
          }
        }
      }
    }
  }
}

.error-page {
  &.hero:after {
    background: $color-bg-from-right;
  }
  .hero-left {
    margin: 0 auto;
    text-align: center;
  }
  .hero-content {
    justify-content: center;

    h1 {
      padding-bottom: 24px;
    }
    .hero-text {
      color: $color-primary;
      padding-bottom: 60px;
    }
  }
  .btn {
    margin: 0 12px;
  }
}

.img-text-header {
  max-width: 640px;
  width: 100%;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
  .large-title {
    font-size: 40px;
    line-height: 1.1;
  }

  .h5 {
    padding-top: 16px;
  }
}

.img-text-section {
  padding: 20px 0;
  &:nth-child(even) {
    .img {
      order: 2;
      margin: 0 0 0 48px;
    }
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.img-text-content {
  display: flex;
  align-items: center;

  .img-text-title-wrapper {
    display: flex;
    align-items: center;
    align-items: flex-end;
    padding-bottom: 24px;
    svg {
      margin-right: 24px;
    }
  }

  .img {
    width: 50%;
    margin-right: 48px;
  }
  .text {
    width: 50%;
    h3,
    h2,
    p,
    ul {
      padding-bottom: 24px;
    }
    p {
      a {
        color: $color-primary;
      }
    }
    ul {
      svg {
        margin-right: 24px;
      }
    }

    .large-title {
      font-size: 40px;
      line-height: 1.1;
    }
  }
}

.info-box-wrapper,
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
}

.testimonial-section {
  background-color: $color-primary;
  padding: 56px 0;
  .h2 {
    color: $color-white;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-8px);
  }
}
