---
metaTitle: A Landlord's Guide to ESA Verification
metaDescription: In this article, let’s review a guide to balancing the
  harmonious living environment your tenants require and safeguarding your
  property from Fido’s activities.
path: /resources/a-landlords-guide-to-esa-verification
date: 2024-01-17T04:30:24.661Z
category: blog
excerpt: Around 45 million households rent from apartment complexes to
  single-family units to converted Airbnb investment properties. Of those
  renters, pet ownership is extremely common.
heroHeading: A Landlord's Guide to ESA Verification
heroImg: /assets/esa_verification_guide.jpg
heroAltImg: ""
social: true
promoSection:
  promoTitle: We Manage Pets Better
  promoText: |-
    No more hassle and potential legal disputes.
    Professional pet policy contracts in minutes.
  promoBtn: Learn More
  promoBtnUrl: /products/
  promo: true
---
![Learn more about ESA Verification with OurPetPolicy.](/assets/landlord_guide_to_esa_verification.png)

Around 45 million households rent from apartment complexes to single-family units to converted Airbnb investment properties. Of those renters, pet ownership is extremely common. This is because the joy of coming home to a four-legged friend who couldn’t be happier to get a pat on the back and a treat from the kitchen is a fantastic feeling.

The challenge becomes allowing these renters into your properties. That photo of the American classic golden retriever in their application may look harmless at first, but when it comes time for the family to move on, you could be facing urine stains and destruction due to pet boredom. Implementing a [pet screening process](https://landlordtech.com/resources/tips-for-establishing-a-software-pet-screening-process-in-apartments) into your application stages is crucial to avoiding such issues.

> This ensures you are targeting the right kind of renters, protecting your investment from unwanted damage, and keeping everything transparent to build trust between you and your potential tenants.

In this article, let’s review a guide to balancing the harmonious living environment your tenants require and safeguarding your property from Fido’s activities.

## Creating a Pet Screening Application

Think of [pet screening as a background check](https://landlordtech.com/resources/the-role-of-pet-screening-in-keeping-your-property-safe) for the cats, dogs, or other animals you allow into your rental property. You aren’t trying to prevent animals in general. It is more that you’re trying to “guarantee” they will be a good fit for your property and community.

A basic [pet screening application](https://landlordtech.com/resources/best-practices-to-properly-screen-pets-for-apartments/) should include key components to give you peace of mind that you’ve made the right decision. That can include:

### Pet Resume 

A detailed pet profile that includes the size, breed, temperament, and age of the animal.

### Pet Interview

Your chance to witness the pet’s behaviors in person so they are compatible with the property environment.

### Veterinary Documentation

This typically verifies vaccinations, spay/neuter status, chip ID, and general health records.

### Pet Insurance

In some rare cases, you can verify the homeowner/renter’s insurance of your applicant concerning specific pets due to their breed or size.

As you design the actual application, keep in mind these components. You want a comprehensive view of what to expect without scaring off your applicants.

> You want to mitigate the potential risk of damage to your property or surrounding community, starting with proper pet screening.

## Conducting Pet Screenings

Any landlord or property manager knows restricting pets from your properties will place an undesirable limit on the potential applicants you receive.

While every process will vary depending on the property owner, in general, the pet screening steps include:

### Step 1: Application Review

Read through all the details provided by the applicant so you can better understand the role, behavior, and makeup of their pets. For example, if they have a therapy animal versus a stray picked up on the side of the road a couple of days ago.

### Step 2: Pet Interviews

Yes, you should conduct a pet interview. If you have two applicants left to decide between, and one owns a pet, but the other doesn’t – do yourself a favor and meet the animals. They could be the sweetest dog in the world on paper but a menace in real life. Give your applicants the benefit of the doubt and trust your instincts.

### Step 3: Questionnaire

You can include a questionnaire that reviews specific concerns, environmental issues, or size requirements of potential animals in your rental property. Asking things like “Is the pet house trained?” or “Do you understand local leash laws?” helps you avoid uncomfortable conversations down the road.

Throughout this pet screening process, be on the lookout for red flags. If the pet has excessive barking for no reason, endless scratching at their ears, signs of aggression, or obvious health issues, bring those items up with the owner. Any time they cannot respond satisfactorily, you may want to consider other applicants.

> [Using a pet screening process helps](https://landlordtech.com/resources/five-tips-for-managing-pets-on-your-rental-properties/) identify any red flags so you can expand that applicant pool without harming your property.

## Handling Service Animals and Emotional Support Animals

On any rental agreement or application, clearly differentiate regular [pets, service animals, and emotional support animals (ESAs)](https://landlordtech.com/resources/emotional-support-animals-service-animals-and-pets-whats-the-difference/). This is crucial for your potential tenants and provides you with some legal protection.

Pets are just that – pets. They have had no specific training and are there to be enjoyable family members. Service animals are incredibly different. Traditionally, these dogs have been carefully trained to signal the owner's health issues or guide them through their day.

ESAs are a bit more unique. They may not have specific training but are there to provide emotional support for the owners who have challenges that become easier to manage due to the pet's presence.

According to current HUD guidelines, you must accommodate ESAs and service animals with proper documentation as a landlord or property management team. These are legally protected situations that you do not want to get in the middle of litigating.

> A good way to nip this situation in the bud so you are more aware of what could happen is to provide clear guidance on your pet screen application that verifies the authenticity of the service animal documentation.As long as you have that information, you cannot deny the applicant based on the breed or size restrictions that apply to pets.

The [ESA verification process](https://landlordtech.com/resources/the-opportunity-cost-of-not-verifying-tenant-esa-etters/) should include a HUD-compliant verification. Otherwise, your application can be called into question, so it is a bit of a balancing act you’ll want to spend time clarifying first.

## Bottom Line

Whatever your reason for implementing an effective pet screening process, the result is to ensure the safety of your property and its occupants and cultivate a harmonious living environment for everyone involved.

The guidelines and tips presented in this article are a fantastic first step to getting your pet screening process under control for better results – even when extra [ESA verification](https://landlordtech.com/resources/the-landlords-essential-guide-to-esas) is required.

If you want an easy solution, our team at [OurPetPolicy](https://landlordtech.com/products) provides free reliability reviews for up to three ESA letters. This will help landlords and property managers, just like you, maintain a positive living environment for your tenants while opening up the application pool to ESA pet owners.

[Submit your letters here](https://info.ourpetpolicy.com/three-for-free/)

[![L﻿imited Time Offer: G﻿et 3 free reliability reviews with OurPetPolicy](/assets/three_for_free-2-.png "L﻿imited Time Offer: G﻿et 3 free reliability reviews with OurPetPolicy")](https://info.ourpetpolicy.com/three-for-free/)