@media screen and (max-width: 768px) {
  .partners-detail-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    .partner-block-wrapper {
      min-width: 100%;
      margin-right: 0;
    }
    .partner-about-wrapper {
      padding-top: 24px;
    }
  }

  .partner-wrapper {
    padding: 0;
    margin-bottom: 0px;
    .partner-content {
      flex-direction: column;
      flex-wrap: wrap;
      .partner-img-wrapper {
        margin-bottom: 14px;
      }
      .partner-list-content {
        padding: 0 12px;
      }
    }
  }
}
