.active-link {
  color: $color-primary;
}

.fw-bold {
  font-weight: 700;
}
.fw-medium {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.show-mobile {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* Ensure the text doesn't wrap onto multiple lines */
}

/*displays*/
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

/*colors*/
.color-primary {
  color: $color-primary;
}
.color-text {
  color: $color-text;
}

.dynamic-content {
  padding: 40px 0;

  p {
    margin-bottom: 16px;
  }

  ul {
    padding-left: 20px;

    li {
      list-style-type: disc;
      margin-bottom: 16px;
    }
  }

  a {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: $color-primary;
  }
}

.content-md {
  max-width: 800px;
  margin:0 auto;
}

.underline {
  text-decoration: underline;
}

.grid-1 {
  grid-area: 1 / 1;
}

.banner-grid {
  grid-area: 1 / 1 / auto / auto;
  position: relative;
  place-items: center;
  display: grid;
}

.pre-text {
  white-space: pre-wrap;
  line-height: 14px;
}

.section {
  padding: 80px 0;
}

.box-wrapper {
  border-radius: 24px;
  background-color: $color-light;
  padding: 40px;
  flex: 1;
}
.rc-slider-handle:focus {
  outline: 2px solid #000000;
}

.btn:focus {
  outline: 2px solid #000000;
  border: none;  /* or adjust border if needed */
}

:focus {
  outline: 3px solid #000000;
}

button:focus {
  outline: 3px solid #000000;
  border-color: transparent; 
}